.backBtn{
text-align: left;
margin-left: 2vw;
display: flex;
color: rgb(113, 113, 122);
}

.box{

    margin: 1vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pic img{
    width: 100px;
    height: 100px;
}

.name{
    font-size: 1rem;
    font-weight: 700;
}

.content{
    width: 60vw;
    text-align: left;
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: flex;
    gap: 1vw;
}